/node_modules
/.env
owenus39/lib/python3.9/site-packages/
tfjsenv/lib/python3.9/site-packages/
tfjsenv/owetest-edfc7-firebase-adminsdk-fbsvc-58cbd12368.json
owetest-edfc7-firebase-adminsdk-fbsvc-58cbd12368.json